* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    background-color: #eeeeea;
}

h2 {
    padding: 1rem;
    text-align: center;
}

.content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 40px;
    margin-left: 80px;
}

.chart-container {
    position: relative;
    height: 500px;
    margin-left: 2rem;

}

.textbox-container {
    display: flex;
    gap: 2rem;
}

.textbox {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    flex: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.textbox:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}